.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-header, .header-nav-bar, .navbar-collapse, .navbar {
  background-color: rgb(24, 34, 49);
  border: none;
  border-radius: 0;
}

.navbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.active-tab {
  background-color: #223044;
  border-radius: 0.3em;
}

.grp-form {
  display: inline-block;
}


.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}








::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

body {
  background-color: rgb(11, 22, 34);
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* mine */

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}

.col-centered {
  float: none;
  margin: 0 auto;
}

.middle-container-bg {
  border-radius: 0.5em;
  color: black;
}

.button-container {
  border-bottom: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding-top: 0;
  padding-left: 0;
  color: white;
  margin: 0;
  display: flex;
  background-color: black;
}

.button-ctrl {
  border: 0;
  margin: 0;
  font-size: 1em;
  padding: 0.8em 1em 0.8em 1em;
  background-color: black;
}

.active {
  background-color: #9000f0;
  border-top-left-radius: 0.5em;
}

.button-ctrl:hover {
  background-color: #c000ff;
}

.btn-center {
  text-align: center;
}

.await-center {
  text-align: center;
  width: 3em;
  padding-top: 5em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1em;
  margin-left: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-challenge {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1em;
  margin-left: 10em;
}

.switch-challenge input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: mediumpurple;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 4px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: steelblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-switch {
  color: lightgray;
  top: 0;
  position: absolute;
  margin-left: 4.5em;
  font-size: 1.1em;
  display: inline-block;
}

.label-switch-challenge {
  color: lightgray;
  position: absolute;
  font-size: 1.1em;
  margin-left: 1em;
  display: inline-block;
}